doctype html
html(lang="eng")
    head
        title Jade
        link(rel="stylesheet")(href="css/libs.css")
        link(rel="stylesheet")(href="css/main.min.css")
    body
        include components/header
            h1 Index HTML !
        include components/footer
    script(src="js/main.js")
    script(src="js/app.angular.js")