<div class="row">
    <!--<form action="">-->
        <!--<input type="text" placeholder="login" #login>-->
        <!--<input type="password" placeholder="password" #pass>-->
        <!--<input type="text" placeholder="name" #name>-->
        <!--<input type="text" placeholder="sname" #sname>-->
        <!--<input type="text" placeholder="e-mail" #email>-->
        <!--<input type="text" placeholder="phone" #phone>-->
        <!--<input type="button" value="add user"-->
               <!--(click)="addUser(login.value,pass.value,name.value,sname.value,email.value,phone.value)">-->
    <!--</form>-->
    <div class="col-lg-11 col-md-11 offset-lg-1 offset-md-1">
        <h2>Користувачі</h2>
        <div class="row">
            <div class="col-lg-11 col-md-11 offset-lg-1 offset-md-1">
    <table border="1">
        <tr>
        <th>Name</th>
        <th>Sname</th>
        <th>email</th>
        <th>phone</th>
        <th>delete</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.sname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td><div class="notDane"(click)="delete(user)"></div></td>
        </tr>
    </table>
            </div>
    </div>
    </div>
</div>