<div class="container-fluid admin_page" >
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 header">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2 offset-lg-11 offset-md-11 offset-sm10 admin">
                    <div class="img_admin">
                    </div>
                    <input type='button' value="log Out" (click)="logOut()">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 navig">
            <div class="in_nav">
            <a routerLink="orders" routerLinkActive="active"><div class="icon1"></div>
                Замовлення</a>
            <a routerLink="addUsr" routerLinkActive="active"><div class="icon1"></div>Користувачі</a>
            <a routerLink="category" routerLinkActive="active"><div class="icon2"></div>Категорії</a>
                <a routerLink="subcategory" routerLinkActive="active" ><div class="icon3"></div>Підкатегорії</a>
            <a  routerLink="products" routerLinkActive="active"><div class="icon3"></div>Продукти</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-8  col-sm-7 lol">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>








<!--<a routerLink="orders" routerLinkActive="active">Orders</a> <br>-->
<!--<a routerLink="addUsr" routerLinkActive="active">addUser</a> <br>-->
<!--<a routerLink="modal" routerLinkActive="active">Modal</a>-->
<!--<input type="button" value="orders" (click)="rout()" >-->